<div>
    <app-header> </app-header>
  </div>
<div class="center-container">
    <div class="card-wrapper">
    <mat-card class="example-card">
     
      <img mat-card-image style="width: 100%;" [src]="product.image" alt="Angular Logo">
      <mat-card-content>
        <p> <b> {{product.name}} </b></p>
        <p> <b> {{product.color}} </b></p>
        <p> In Stock: <b> {{product.quantity}} </b></p>
        <p> Price: <b> {{product.price}} /PCS </b></p>
      </mat-card-content>
  
      <mat-card-actions>
        <button mat-raised-button color="accent" (click)="checkout()">BUY NOW</button> 
        <button mat-raised-button color="primary" style="margin-left: 10px;" (click)="cancel()">CANCEL</button>
      </mat-card-actions>
    </mat-card>
  
</div>
</div>