.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust this as needed to center vertically */
  }
  
  .card-wrapper {
    max-width: 400px; /* Adjust as needed */
    margin: auto;
    text-align: center;
    margin-top: 30px;
  }

  img {max-width: 100%; object-fit:cover; align-items: center;}
  