<div class="container">
    <div class="horizontal-scroll" #widgetsContent>
        <button class="btn-scroll btn-left" id="btn-scroll-left"> <i class="fas fa-chevron-left" (click)="scrollLeft()"></i> </button>
       
        
        <div class="categories-container" >
            <div class="category-circle"> <img src="../../../assets/categories/men-caps.jpg" alt=""> </div>
            <div class="category-circle"> <img src="../../../assets/categories/men-jackets.jpg" alt=""> </div>
            <div class="category-circle"> <img src="../../../assets/categories/men-pants.jpg" alt=""> </div>
            <div class="category-circle"> <img src="../../../assets/categories/men-shirts.avif" alt=""> </div>
            <div class="category-circle"> <img src="../../../assets/categories/men-slippers.webp" alt=""> </div>
            <div class="category-circle"> <img src="../../../assets/categories/men-sunglasses.jpg" alt=""> </div>
            <div class="category-circle"> <img src="../../../assets/categories/men-t-shirts.jpg" alt=""> </div>
            <div class="category-circle"> <img src="../../../assets/categories/men-watches.jpg" alt=""> </div>

            <div class="category-circle"> <img src="../../../assets/categories/men-caps.jpg" alt=""> </div>
            <div class="category-circle"> <img src="../../../assets/categories/men-jackets.jpg" alt=""> </div>
            <div class="category-circle"> <img src="../../../assets/categories/men-pants.jpg" alt=""> </div>
            <div class="category-circle"> <img src="../../../assets/categories/men-shirts.avif" alt=""> </div>
            <div class="category-circle"> <img src="../../../assets/categories/men-slippers.webp" alt=""> </div>
            <div class="category-circle"> <img src="../../../assets/categories/men-sunglasses.jpg" alt=""> </div>
            <div class="category-circle"> <img src="../../../assets/categories/men-t-shirts.jpg" alt=""> </div>
            <div class="category-circle"> <img src="../../../assets/categories/men-watches.jpg" alt=""> </div>


            <div class="category-circle"> <img src="../../../assets/categories/men-caps.jpg" alt=""> </div>
            <div class="category-circle"> <img src="../../../assets/categories/men-jackets.jpg" alt=""> </div>
            <div class="category-circle"> <img src="../../../assets/categories/men-pants.jpg" alt=""> </div>
            <div class="category-circle"> <img src="../../../assets/categories/men-shirts.avif" alt=""> </div>
            <div class="category-circle"> <img src="../../../assets/categories/men-slippers.webp" alt=""> </div>
            <div class="category-circle"> <img src="../../../assets/categories/men-sunglasses.jpg" alt=""> </div>
            <div class="category-circle"> <img src="../../../assets/categories/men-t-shirts.jpg" alt=""> </div>
            <div class="category-circle"> <img src="../../../assets/categories/men-watches.jpg" alt=""> </div>
            
        </div>
        <button class="btn-scroll btn-right" id="btn-scroll-right" (click)="scrollRight()"> <i class="fas fa-chevron-right"></i> </button>
    </div>
</div>
