<div>
  <app-header> </app-header>
</div>
<!-- Panel Body -->
<br><br>
<div class="panel-body" style="text-align: -webkit-center;">
  <div *ngFor="let address of addresses; let i = index" class="alert alert-info" style="width: 50%;">
    <p>{{ address.addLine1 }}</p>
    <p>{{ address.addLine2 }}</p>
    <p>{{ address.city }}</p>
    <p>{{ address.state }}</p>
    <p>{{ address.zipCode }}</p>
    <div style="margin-bottom: 30px;">
  </div>
</div>
</div>

<mat-card-actions style="margin-left: 50%;">
  <button mat-raised-button color="accent" (click)="checkout()">PLACE ORDER</button> 
  <button mat-raised-button color="primary" style="margin-left: 10px;" (click)="cancel()">CANCEL</button>
</mat-card-actions>
